@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}


.exhibitiontitle a{
  position: absolute;
  margin: 22;
  font-family: "Righteous",sans-serif;
  font-weight: 500;
  font-size: 170px;
  top: 75%;
  color: aliceblue;
}

.degreetitle{
    position: absolute;
      font-family: "Righteous",sans-serif;
      font-weight: 500;
      font-size:100px;
      color: aliceblue;
      top: 52%;
      left: -7.38%;
      /*writing-mode: sideways-lr;
      text-orientation: sideways;*/
      transform: rotate(-90deg);
}

li, a{
  font-family: "Righteous",sans-serif;
  font-weight: 500;
  font-size: 18px;
  color:#ffffff;
  text-decoration: none;
}

button{
  font-family: "Righteous",sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 2.5%;
}

#BFADegreeExhibition{
  position: relative;
  cursor: pointer;
  margin-right: auto;
 font-family: "Righteous",sans-serif;
 font-weight: 500;
 font-size: 18px;
 text-decoration: none;
}
#BFADegreeExhibition a{
  color: #ffffff;
}
#BFADegreeExhibition a:hover{
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  transition: all 0.3s ease 0.2s;
}
/*Referenced SkillThrive navbar flexbox tutorial*/
.nav-links{
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding:0px 20px;
  color: none;
}

.nav-links li a {
  color: #ffffff;
  transition: all 0.3s ease 0s;
}

#exhibition a{
  display: inline-block;
  position: relative;
 }
 /*30secondsofcode underline hover animation*/
#exhibition a::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ed1c24;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
/*30secondsofcode underline hover animation*/
#exhibition a:hover{
  font-size: 16px;
}
#exhibition a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /*30secondsofcode underline hover animation*/

#sponsors a{
    display: inline-block;
    position: relative;
   }
   /*30secondsofcode underline hover animation*/
   #sponsors a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1f29ea;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  /*30secondsofcode underline hover animation*/
#sponsors a:hover{
  font-size: 16px;
}
#sponsors a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /*30secondsofcode underline hover animation*/
#contact a{
  display: inline-block;
  position: relative;
 }
 /*30secondsofcode underline hover animation*/
#contact a::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f7941d;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
/*30secondsofcode underline hover animation*/
#contact a:hover{
  font-size: 16px;
}
#contact a:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*30secondsofcode underline hover animation*/
button {
  padding:9px 25px;
  background-color: rgba(255, 255, 255,0.907);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: perspective(1px)translateZ(-0.2px);
}

#circle{
  height:100px;
  width:100px;
  align-items:center;
background: #ffffff;
  border-radius: 50%;
}
.exhibitiontitle a{
  position: absolute;
  margin: 22;
  font-family: "Righteous",sans-serif;
  font-weight: 500;
  font-size: 170px;
  top: 75%;
  color: aliceblue;
}
.exhibitiontitle a:hover{
  color: #ed1c24;
  font-size: 184px;
  transition: all 0.3s ease-in 0.2s;
}
.exhibitiontitle a::before{
  content: '';
  position: absolute;
  background-color: #ed1c24;
  width: 0;
  height: 100%;
  transition: width 2s linear;
  display: inline-block;
}
.degreetitle{
    position: absolute;
      font-family: "Righteous",sans-serif;
      font-weight: 500;
      font-size:100px;
      color: aliceblue;
      top: 52%;
      left: -7.38%;
      /*writing-mode: sideways-lr;
      text-orientation: sideways;*/
      transform: rotate(-90deg);
}


